.task {
    cursor: move;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.task__details {
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}

.task__title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    border: none;
    background: none;
    width: 100%;
    padding: 0;
    outline: none;
    display: inline;
}

.task__text {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border: none;
    background: none;
    width: 100%;
    padding: 0;
    outline: none;
    resize: none;
    width: 100%; /* Ensure it takes up full width of parent */
    max-width: 100%; /* Ensure it doesn't exceed parent's width */
    height: 100%; /* Ensure it takes up full height of parent */
    max-height: 100%; /* Ensure it doesn't exceed parent's height */
    box-sizing: border-box;
}


.task__date {
    border: none;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 120px;
    display: inline;
}


.task__options {
    display: flex;
    align-items: center;
}
.status {
    border-right: 1px solid #6e6a6a46;
}
.task__buttons{
    align-items: center;
}
.task__buttons button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    flex-grow: 1;
    margin-top: 5px;
    margin-left: 3px;
   
    
}
.task_change button{
    background-color: #6064647e;
    /* size:2px; */
    float: right;
    display: inline;
    padding: 0.2rem 0.25rem;
    display: inline;
    

}
.task_change button:hover{
    background-color: #606464b7;
}
/* .status button{
    background-color: #34b191;
    margin-top: 10px;

} */

.task__buttons button:last-child {
    margin-right: 0;
}


.status button:hover {
    background-color: #999e9d;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-size: 18px;
}
/* edit addintional buttens */
.edited{
    visibility: hidden;
}


.defined {
    background-color:#fc9d44;
}
.in-progress {
    background-color: #2ec485;
}
.done {
    background-color:#ff6392;
}


